.noTodosImage{
    height:35vw;
    width: 90%;
    opacity: 0.3;
}

.searchContainer{
    margin:0px 10px 0px 50px;
    /* width: 100px; */
}

.todoSortPriority{
    width:71%;
    float: right;
    /* opacity: 0.8; */
    margin: 0px 20px 0px 0px;
    font-size: 17px !important;
    border: none !important;
    /* color: !important; */
    /* background-color: gainsboro !important; */
    /* border: 1px solid lightgray !important; */
    /* color: green !important; */
}

.funnel{
    float: left;
}

.searchSize{
    /* height: 5px !important; */
    /* width:450px !important; */
    width:545px !important;
    font-size: 17px !important;
}

.searchBar, .searchLabel{
    /* border-color: gray !important; */
    border: none !important;
    border-bottom: 1px solid gray !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}

.searchBar:focus{
    border-width: 1.5px !important;
    border-color: black !important;
    /* box-shadow: 0.1rem gray   !important; */
}

/* .todoContainer{
    overflow-y: auto !important;
} */

