.todoAsideContainer{
    margin-top: 90px;
    padding: 0px 40px;
}

.todoAsideTitleInfo{
    padding: 10px 28px;
    font-size: 17px;
    font-weight: 600 !important;
}

.todoAsideListTitle{
    font-size: 17px;
    font-weight: 600 !important;
    padding: 10px 15px 10px 45px;
}

.todoAsideList{
    padding: 10px 45px;
    list-style-type: none;
}

.todoAsideSubList{
    padding: 5px 0px;
    cursor: pointer;
}

.subList:hover{
    font-size: 17.5px !important; 
}

.todoCountBadge{
    float: right;
}

.noteTodo{
    font-size: 11px !important;
}

/* .selectedFilterItem{
    font-weight: 500;
    color:orangered;
} */