.todoContainer{
    margin:90px 5px 50px 35px;
}

.todoSelect{
    font-weight: 550 !important;
    border: 1px solid gray !important;
    background-color: whitesmoke !important;
    /* outline-width: rebeccapurple !important; */
}

.errorFormField{
    color:red;
    font-size: 14px;
    padding:5px 0px;
}

.todoAddBtnClass{
    width:80%;
    float: right;
    background-color: gainsboro !important;
}

.todoAddIcon{
    float: left;
}

.todoSelect:focus{
    border-width: 0.1px !important;
    border-color: gray !important;
    box-shadow: 0 0 0 0.09rem gray !important;
}